@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@font-face {
	font-family: 'NotoSansCyproMinoan-Regular';
	src: url('/fonts/NotoSansCyproMinoan-Regular.ttf') format('truetype');
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #214b7c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #214b7c;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #214b7c;
}
@media only screen and (max-width: 390px) {
	body {
		height: 100% !important;
	}
/*
	.container {
		padding: 55px 5px 25px 5px !important;
		margin-top: 130px;
	}
	.input-div input {
		width: 60% !important;
		}
*/
}
html, body {
	overflow: hidden;
	position: fixed;
	width: 100%;
}
body {
	margin: 0;
	height: 100vh;
	font-family: 'Gothic A1';
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #214c7c;
	/*background-image: linear-gradient(to bottom, #214c7c, #367ecf);*/
}
.outer_container {
	display: flex;
	justify-content: center;
	min-width: 300px;
}

.container {
	width: 70%;
	padding: 30px 10px;
	text-align: center;
	/*border: 1px solid #214b7c;*/
	border-radius: 0px;
	background-color: white;
}

.container .form-title {
	margin: 0;
	color: #214b7c;
	font-size: 25px;
	padding: 0px 0px 15px 0px;
	font-weight: bold;
}

.container button {
	color: white;
	background-color: #214b7c;
	font-family: 'Gothic A1';
	width: 40%;
	margin: 10px auto;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #214b7c;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	font-weight: bold;
	/*margin-top: 10px;*/
}

.container button:hover {
	
}

img {
	width: 200px;
	border-radius: 0px;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
.img-wrapper {
	overflow: hidden;
}
.form-title {
	padding-bottom: 0px !important;
}
.input-div {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding-bottom: 10px;
	/*margin-bottom: 10px;*/
}
.input-div input {
	font-family: 'Gothic A1';
	text-align: center;
	width: 80%;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #214b7c;
	border-radius: 0px;
	font-weight: bold;
	background-color: white;
	color: #214b7c;
}
.input-div input:focus {
	outline: 1px solid #214b7c;
}
.button {
	margin: 5px auto;
}
#close_button {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 0px;
	border: 1px solid #214b7c;
	background-color: white;
	font-weight: bold;
	font-family: 'Gothic A1';
	color: #214b7c;
	padding: 4px 5px;
}
.checkbox label {
	color: black;
	font-size: 15px;
	font-weight: bold;
}
.checkbox input {
	accent-color: black;
}
.title {
	word-wrap: break-word;
}
.title h1 {
	margin: 0;
}
.title p {
	margin: 5px 0px;
	margin-bottom: 20px;

}
#message {
	margin: 0;
}
.checkbox {
}
#register_link {
	font-weight: bold;
	text-decoration: none;
	color: #214b7c;
	cursor: pointer;
}

.select {
	border-radius: 0px;
	background-color: white;
	width: 86%;
	padding: 5px;
	font-size: 15px;
	border: 1px solid #214b7c;
	color: #214b7c;
	font-weight: bold;
	font-family: 'Gothic A1';
	text-align: center;
}
