<!doctype html>
<html lang="en">
	<head>
		<title>jalfry</title>
		<link rel="stylesheet" href="/css/access.css">
	</head>

	<body>
		<h1>{{username}}'s apps</h1>
		<a href="/access/logout" class="logout">logout</a>
		<ul class="domains">
			{{#each permission}}
			<li><a href="{{{this.url}}}" target="_blank">{{this.domain}}</a></li>
			{{/each}}
		</ul>
	</body>
</html>
