<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>jalfry</title>
		<link rel="stylesheet" href="/css/register.css">
	</head>

	<body>
		<div class="outer_container">
			<div class="container">
				<form id="registration_form" action="/forgot_password/number" method="post">
					<h1 id="title">Enter your US Phone Number</h1>
					<p>If your number is in our records, you will recieve a text message with a one time code</p>
					<p id="message">{{message}}</p>

					<div id="form_content">
						<label for="username">+1 </label>
						<input class="text_input" type="text" id="username" placeholder="" name="phone_number" required>
						<button type="submit" id="button">send code</button>
					</div>
				</form>

				<br>
				{{#if code}}
				<form id="code_form" action="/forgot_password/code" method="post">
					<label for="code">Enter code</label>
					<input id="code" name="code" type="text">
					<br>
					<button type="submit" id="button">submit</button>
				</form>
				{{/if}}
			</div>
		</div>
	</body>
	<!--<script src="/js/forgot_password.js"></script>-->
</html>
