<!DOCTYPE html>

<html>
	<head>
		<title>jalfry</title>

		<link rel="stylesheet" href="/css/index2.css">
	</head>

	<body>
		<div id="app">
			<h1>single-sign-on authentication on any user agent</h1>
			<form class="login" action="/access/login" method="post">
				<input placeholder="username" type="text" name="user" required>
				<input placeholder="password" type="password" name="pass" required>	
			
				<br>
				
				<label id="cookie_label">
					<input type="checkbox" @change="show_button">allow jalfry to set cookies
				</label>

				<br>

				<div v-if="hide">
					<button type="submit">login</button>
				</div>
			</form>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="/js/index.js"></script>
		<script>
			const mountedApp = app.mount("#app");
		</script>
	</body>
</html>
