<!DOCTYPE html>

<html>
	<head>
		<title>Webauthn Jalfry</title>
	</head>
	<body>
		<form id="login_form">
			<input type="text" name="username">
			<button type="submit">Login</button>
		</form>

		<script src="https://cdn.jsdelivr.net/npm/cbor-js@0.1.0/cbor.min.js"></script>
		<script src="/js/webauthn_login.js"></script>
	</body>
</html>
