<!DOCTYPE html>

<html>
	<head>
		<title>login</title>
	</head>

	<body>
		<h1>login to {{APP NAME}}</h1>

		<!-- the button is necessary for jalfry to open -->
		<button onclick="clickhandler(event)">login with jalfry</button>

		<script src="/js/jf.js"></script>
	</body>
</html>
