<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jalfry</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/permissions.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">  
	  {{> header}}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">jalfried :)</h1>
    	<h4>admin {{username}}</h4>
	
	<a href="/administrator/domains" class="btn btn-secondary">domains</a>
  </div>
  <div class="container">
	<form>
	  <div class="mb-3">
	    <label for="d" class="form-label">domain name</label>
	    <input type="text" class="form-control" id="d" name="domain" placeholder="Ex: login.com" required>
	    <br>

	    <label for="l" class="form-label">full login url</label>
	    <input type="text" class="form-control" id="l" name="login_url" placeholder="Ex: https://login.com/login" required>
	    <br>

	    <select id="approval" class="form-select" name="approval" required>
		    <option value="" selected>Require approval for new accounts?</option>
		    <option value="Yes">Yes</option>
		    <option value="No">No</option>
	    </select>

	    <br>
	    <label for="r" class="form-label">add roles</label>
	    <div id="r">
		    <div class="role_input row">
			    <input type="text" class="form-control col" name="roles" placeholder="role name" required>
			    <input type="text" class="form-control col" name="roles" placeholder="description" required>
		    </div>
	    </div>
	    <button type="button" class="btn btn-secondary btn-sm" onclick="add_role_input()">add role</button>
	    <br>
	  </div>

	  <button type="submit" id="b" class="btn btn-primary">Submit</button>
	  </div>

	</form>
	<br>

	<div id="info" class="mx-5">
		<p id="secret"></p>
		<br>

		<label for="s" class="form-label">Example routes for server code</label>
		<pre id="s">
			<code id="src"></code>
		</pre>
		<br>

		<label for="v" class="form-label">Example code for view template. Button is necessary for pop-up.</label>
		<pre id="v">
			<code id="view"></code>
		</pre>
		<br>

		<label for="j" class="form-label">Example code for client-side JS</label>
		<pre id="j">
			<code id="js"></code>
		</pre>
		<br>
	</div>
  </div>
</main>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/add_login.js"></script>
      
  </body>
</html>
