<!doctype html>
<html lang="en">
	<head>
		<title>jalfry</title>

		<link href="/css/admin_login.css" rel="stylesheet">
	</head>

	<body class="text-center">
		<h1>administrator login for jalfry</h1>
		<h3>actively set user and app permissions</h3>
		<h3>{{message}}</h3>

		<form id="login_form" action="/admin" method="post">
			<input type="text" placeholder="username" name="user" required>
			<input type="password" placeholder="password" name="pass" required>
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit" id="button">login</button>
		</form>
	</body>
</html>
