<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="theme-color" content="#214c7c">
		<title></title>

		<link rel="stylesheet" href="/css/sso_mpengs.css">
	</head>

	<body>
		<div class="outer_container">
			<div class="container">
				<form id="login_form" action="/login" method="post">
					<div class="title">
						<h1 id="app_name"></h1>
						<p>Powered by Jalfry</p>
					</div>
					<!--<div class="img-wrapper">
						<img src="/mp_logo.jpg">
					</div>-->
					<!--<p class="form-title">Welcome</p>-->
					<p id="message">{{message}}</p>

					<div class="input-div">
						<input class="text_input" type="text" id="username" placeholder="First Name" name="user" required autofocus>
						<input class="text_input" type="text" id="password" placeholder="Last Name" name="pass" required>
					</div>

					<div class="checkbox">
						<label>
							<input id="enable_cookie" type="checkbox"> Accept cookies
						</label>
					</div>
					<button class="button" type="button" id="button">Login</button>

					<a class="link" id="register_link">Sign up</a>
				</form>
				
			</div>
		</div>
		<script src="/js/sso_login.js"></script>
	</body>
</html>
